html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@media screen and (min-width:768px) {

    .header {
        display: flex;
        align-items: center;
        width: 100vw;
        padding-right: 19%;
        padding-left: 10%;
    }

    .header__logo {
        margin: 30px 25% 30px 0;
    }

    .header__wrapper-menu {
        width: 100%;
    }

    #header__btn {
        display: none;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .header__link {
        padding-left: 15px;
        font: normal 400 12px/12px Roboto, sans-serif;
        text-decoration: none;
        color: #333333;
    }

    .header__link:hover {
        font-weight: bold;
    }

    .header__link:first-child {
        padding: 4px 34px 4px 34px;
        border-top: 1px solid #333333;
        border-bottom: 1px solid #333333;
    }

    /*SECTION*/
    .certifications__section {
        padding: 63px 19% 714px 10%;
    }

    .certifications__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        font: normal 700 64px/64px 'Roboto', sans-serif;
        color: #333333;
    }

    .certifications__title span {
        font: normal 300 64px/64px 'Roboto', sans-serif;
        color: #BDBDBD;
    }

    /*FOOTER*/
    .footer {
        width: 100vw;
        background-color: #2C2C2C;
    }

    .footer__wrapper {
        display: flex;
        padding: 58px 8% 60px 10%;
    }

    .footer__logo {
        align-self: flex-start;
        margin-right: 99px;
    }

    .footer__wrapper-infotmation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 50px;
        justify-items: start;
        width: 100%;
    }

    .footer__information {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }

    .footer__header {
        margin-top: 0;
        margin-bottom: 25px;
        font: normal 700 16px/19px 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .footer__link {
        margin-bottom: 16px;
        font: normal 500 14px/24px 'Roboto', sans-serif;
        color: #FFFFFF;
        text-decoration: none;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }

    .footer__contacts {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }

    .footer__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 45px;
        font: normal 500 14px/24px 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .footer__item:last-child {
        margin-bottom: 0;
    }

    .footer__contacts_location,
    .footer__contacts_phone,
    .footer__contacts_email {
        margin-right: 19px;
    }

    .footer__social-media {
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
    }

    .footer__icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .footer__icon-links {
        margin-right: 50px;
        margin-bottom: 25px;
        text-decoration: none;
    }

    .footer__icon-links:last-child {
        margin-right: 0;
    }

    .footer__rights {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font: normal 400 12px/22px 'Open Sans', sans-serif;
        color: rgba(200, 200, 200, 0.5);
    }
}

@media screen and (max-width: 767px) {

    .header {
        display: flex;
        padding: 20px 50px 20px 50px;
        align-items: center;
        justify-content: space-between;
    }

    .header__wrapper-menu {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 190px;
    }

    .header__menu-btn {
        visibility: visible;
    }

    #header__btn {
        display: none;
    }

    .header__icon {
        margin: 0;
        width: 20px;
        height: 22px;
        cursor: pointer;
        position: relative;
    }

    .header__icon span {
        background-color: black;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
    }

    .header__icon span:first-child {
        top: 0;
    }

    .header__icon span:nth-child(2) {
        top: 6px;
    }

    .header__icon span:last-child {
        top: 12px;
    }

    .header__icon:hover span:nth-child(2) {
        opacity: 0;
    }

    .header__icon:hover span:first-child,
    .header__icon:hover span:last-child {
        top: 6px;
        background-color: black;
    }

    .header__nav {
        display: block;
        position: absolute;
        transform: translateY(20%);
        top: 0;
        right: 0px;
        visibility: hidden;
    }

    .header__link {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333333;
        font: normal 400 12px/12px Roboto, sans-serif;
        text-align: center;
        text-decoration: none;
        color: #333333;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .header__link:last-child {
        border-bottom: none;
    }

    .header__link:hover {
        font-weight: bold;
    }

    #header__btn:checked~.header__nav {
        visibility: visible;
    }

    /*SECTION*/
    .certifications__section {
        padding: 63px 50px 714px 50px;
    }

    .certifications__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        font: normal 700 34px/34px 'Roboto', sans-serif;
        color: #333333;
    }

    .certifications__title span {
        font: normal 300 34px/34px 'Roboto', sans-serif;
        color: #BDBDBD;
    }

    /*FOOTER*/

    .footer {
        width: 100vw;
        background-color: #2C2C2C;
    }

    .footer__wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 58px 20px 58px 20px;
    }

    .footer__logo {
        margin-bottom: 50px;
    }

    .footer__wrapper-infotmation {
        display: grid;
        grid-template-rows: 1fr max-content;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "footer__information footer__contacts"
            "footer__social-media footer__social-media";
        column-gap: 10px;
        row-gap: 50px;
    }

    .footer__header {
        margin-top: 0;
        margin-bottom: 25px;
        font: normal 700 16px/19px 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .footer__information {
        grid-area: footer__information;
        display: flex;
        flex-direction: column;
    }

    .footer__link {
        margin-bottom: 16px;
        font: normal 300 14px/24px 'Roboto', sans-serif;
        color: #FFFFFF;
        text-decoration: none;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }

    .footer__contacts {
        grid-area: footer__contacts;
        display: flex;
        flex-direction: column;
    }

    .footer__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 44px;
        font: normal 300 14px/24px 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .footer__item:last-child {
        margin-bottom: 0;
    }

    .footer__contacts_location,
    .footer__contacts_phone,
    .footer__contacts_email {
        margin-right: 10px;
    }

    .footer__social-media {
        grid-area: footer__social-media;
        justify-self: center;
        text-align: center;
    }

    .footer__icon-links {
        margin-right: 40px;
        text-decoration: none;
    }

    .footer__icon-links:last-child {
        margin-right: 0;
    }

    .footer__rights {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font: normal 400 12px/22px 'Open Sans', sans-serif;
        color: rgba(200, 200, 200, 0.5);
    }

}