html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    padding: 63px 9% 0px 9%;
}

/* project */

.project {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.project__colum {
    padding-right: 40px;
}

.project__title {
    width: 278px;
    height: 64px;
    font: 300 64px/64px 'Roboto', sans-serif;
    color: #BDBDBD;
    margin-top: 320px;
}

.project__text {
    font: 700 64px/64px 'Roboto', sans-serif;
    color: #333333;
}

.project__paging {
    display: flex;
    flex-direction: column;
}

.project__page-numbers {
    display: flex;
    align-items: center;
    padding-top: 90px;
}

.project__page-numbers span {
    font: 400 24px/24px 'Roboto', sans-serif;
    color: #333333;
    margin-right: 25px;
}

.project__page-numbers a {
    font: 400 24px/24px 'Roboto', sans-serif;
    color: #BDBDBD;
    margin-left: 30px;
    text-decoration: none;
}

.project__page-btn {
    display: flex;
    padding-top: 90px;
}

.project__page-btn-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
}

.project__page-btn-preview:hover {
    background-color: #F9F9F9;
}

.project__page-btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    margin-left: 22px;
}

.project__page-btn-next:hover {
    background-color: #F9F9F9;
}

.project__button {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 24px 48px;
    background-color: white;
    color: #333333;
    border-style: none;
    font: 400 12px/12px 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.project__button:hover {
    font-weight: bold;
    border: 2px solid #BDBDBD;
    cursor: pointer;
}

.project__container {
    position: relative;
    max-width: 100%;
}

.project__image {
    display: flex;
    align-items: flex-end;
}

.project__colum {
    max-width: 100%
}

/* About */

.about {
    margin-bottom: 120px;
    padding: 30px 100px;
    display: flex;
    gap: 30px;
    background-color: #FBFBFB;
}

.about__image-block {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.about__image-block_alone {
    display: flex;
    align-items: center;
}

.about__image-block_column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.about__text-block h3 {
    margin: 0;
    font: normal 300 64px/64px 'Roboto', sans-serif;
    color: #BDBDBD;
}

.about__text-block p {
    font: normal 300 16px/25px 'Roboto', sans-serif;
}

.about__text-block div {
    display: flex;
    justify-content: start;
}

.about__text-block_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 48px;
    background-color: white;
    color: #333333;
    border-style: none;
    font: 400 12px/12px 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.about__text-block_button:hover {
    font-weight: bold;
    border: 2px solid #BDBDBD;
    cursor: pointer;
}

/* Main Focus */

.mission {
    margin-bottom: 120px;
}

.mission h3 {
    margin: 0 0 60px 0;
    color: #BDBDBD;
    font: normal 300 64px/64px 'Roboto', sans-serif;
}

.mission__text-block {
    display: flex;
    align-items: center;
    gap: 187px;
}

.mission__text-block_one,
.mission__text-block_two {
    display: flex;
    align-items: center;
}

.mission__text-block_number {
    margin-right: 30px;
    font: normal 900 200px/234px 'Roboto', sans-serif;
    color: #F2F2F2;
}

.mission__text-block_text {
    font: normal 400 22px/36px 'Roboto', sans-serif;
    color: #333333;
}

/*Our projects*/

.ourprojects {
    margin-bottom: 120px;
}

.ourprojects__title {
    margin: 0 0 60px 0;
    font: normal 300 64px/64px 'Roboto', sans-serif;
    color: #BDBDBD;
}

.ourprojects__gallery {
    margin-bottom: 30px;
}

.ourprojects__gallery_top {
    min-height: 255px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 570px);
    gap: 30px;
    justify-content: center;
}

.ourprojects__gallery_bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, max-content));
    gap: 30px;
    justify-content: center;
}

.ourprojects__gallery_top-first,
.ourprojects__gallery_top-second,
.ourprojects__gallery_photo3,
.ourprojects__gallery_photo4,
.ourprojects__gallery_photo5 {
    position: relative;
    overflow: hidden;
}

.ourprojects__gallery_top-first>.hover-effect,
.ourprojects__gallery_top-second>.hover-effect,
.ourprojects__gallery_photo3>.hover-effect,
.ourprojects__gallery_photo4>.hover-effect,
.ourprojects__gallery_photo5>.hover-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourprojects__gallery_top-first:hover>.hover-effect,
.ourprojects__gallery_top-second:hover>.hover-effect,
.ourprojects__gallery_photo3:hover>.hover-effect,
.ourprojects__gallery_photo4:hover>.hover-effect,
.ourprojects__gallery_photo5:hover>.hover-effect {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourprojects__gallery_top-first .hover-effect,
.ourprojects__gallery_top-second .hover-effect,
.ourprojects__gallery_photo3 .hover-effect,
.ourprojects__gallery_photo4 .hover-effect,
.ourprojects__gallery_photo5 .hover-effect {
    opacity: 0.8;
    background-color: #333333;
    transform: translate(-100%, 0px) rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.ourprojects__gallery_top-first:hover .hover-effect,
.ourprojects__gallery_top-second:hover .hover-effect,
.ourprojects__gallery_photo3:hover .hover-effect,
.ourprojects__gallery_photo4:hover .hover-effect,
.ourprojects__gallery_photo5:hover .hover-effect {
    opacity: 0.8;
    transform: translate(0px, 0px) rotate(0deg);
}

.hover-effect h3 {
    margin: 0 0 14px 0;
    font: normal 700 64px/64px 'Roboto', sans-serif;
    color: #FFFFFF;
}

.hover-effect a {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.hover-effect p {
    font: normal 400 12px/12px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ourprojects__btn-container {
    display: flex;
    justify-content: end;
}

.ourprojects__btn {
    display: flex;
    align-items: center;
    padding: 24px 48px;
    width: fit-content;
    background-color: #333333;
    color: #FFF;
    border-style: none;
    font: 400 12px/12px 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.ourprojects__btn:hover {
    font-weight: bold;
}

/* Contact Us */

.contactus {
    margin-bottom: 120px;
}

.contactus__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 22px;
    font: 300 64px/64px 'Roboto', sans-serif;
    color: #BDBDBD;
}

.contactus__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactus__form {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
}

.contactus__form input {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: #F3F3F3;
    padding: 15px 20px;
    font: 400 14px/16px 'Roboto', sans-serif;
    color: #8D8D8D;
}

.contactus__form textarea {
    width: 100%;
    border: none;
    resize: none;
    background-color: #F3F3F3;
    padding: 15px 20px;
    font: 400 14px/16px 'Roboto', sans-serif;
    margin-bottom: 77px;
}

.contactus__form-textfield {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.contactus__form-textfield__label {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    font: 400 14px/16px 'Roboto', sans-serif;
    color: #8D8D8D;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
}

.asterisk::after {
    position: relative;
    top: -3px;
    left: 1px;
    display: inline-block;
    content: "*";
    color: #d0011b;
}

.contactus__form-textfield__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    transition: all 0.25s linear;
}

.contactus__form-textfield__input:focus {
    border-color: #3a82c6;
}

.contactus__form-textfield__input:disabled {
    border-color: #e6e6e6;
    background: #f9fafb;
}

.contactus__form-textfield__input::-moz-placeholder {
    color: transparent;
}

.contactus__form-textfield__input:-ms-input-placeholder {
    color: transparent;
}

.contactus__form-textfield__input::placeholder {
    color: transparent;
}

.contactus__form-textfield__input:focus+.contactus__form-textfield__label,
.contactus__form-textfield__input:valid+.contactus__form-textfield__label,
.contactus__form-textfield__input:disabled+.contactus__form-textfield__label {
    display: none;
}

.contactus__button {
    display: flex;
    align-items: center;
    padding: 24px 48px;
    width: fit-content;
    background-color: #333333;
    color: #FFF;
    border-style: none;
    font: 400 12px/12px 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.contactus__button:hover {
    font-weight: bold;
}

.arrow-right {
    margin-left: 12px;
}

.contactus__form-img-wrapper {
    width: 100%;
    margin-left: 30px;
}

.contactus__form-img {
    width: 100%;
}

@media screen and (max-width:768px) {

    .about__text-block h3,
    .mission h3,
    .ourprojects__title,
    .contactus__title {
        font-size: 34px;
    }

    .hover-effect h3 {
        margin: 0 0 10px 0;
        font: normal 700 45px/45px 'Roboto', sans-serif;
    }

    .project__title {
        font: 300 34px/84px 'Roboto', sans-serif;
    }

    .project__text {
        font: 700 34px/34px 'Roboto', sans-serif;
    }

    .contactus {
        padding: 33px 10px 120px 30px;
    }

    .contactus__form {
        max-width: 700px;
        align-items: center;
    }

    .contactus__form-img-wrapper {
        display: none;
    }

    .contactus__form textarea {
        margin-bottom: 50px;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {

    .about__text-block h3,
    .mission h3,
    .ourprojects__title,
    .contactus__title {
        font-size: 54px;
    }

    .contactus {
        padding: 33px 10px 120px 40px;
    }

    .contactus__form {
        max-width: 600px;
    }

    .contactus__form textarea {
        width: 100%;
        height: 150px;
        margin-bottom: 50px;
    }

    .contactus__form-img-wrapper {
        max-width: 100%;
        width: 50%;
    }

    .contactus__form-img {
        max-width: 749px;
        height: 369px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1023px) {

    .mission h3,
    .ourprojects__title,
    .contactus__title {
        margin-bottom: 22px;
    }

    /* project */

    .project {
        display: flex;
        flex-direction: column;
    }

    .project__colum {
        padding: 0;
    }

    .project__title {
        margin: 0;
    }

    .project__container {
        max-width: 100%;
    }

    .project__image img {
        max-width: 100%;
    }

    .project__page-btn {
        padding-top: 30px;
    }

    .project__page-numbers {
        padding: 40px 0px 40px 0px;
    }

    .project__button {
        padding: 4% 4%;
    }

    /* About */

    .about {
        display: flex;
        flex-direction: column;
        padding: 8% 10%;
    }

    .about__image-block_column img,
    .about__image-block_alone img {
        max-width: 100%;
    }

    .about__image-block_column {
        justify-content: center;
    }

    .about__image-block_alone {
        justify-content: flex-end;
    }

    .about__text-block h3 {
        font: normal 300 34px/34px 'Roboto', sans-serif;
    }

    .about__text-block p {
        margin: 0;
    }

    /* Main Focus */

    .mission__text-block {
        flex-direction: column;
        gap: 30px;
    }

    .mission__text-block_number {
        font-size: 180px;
    }

    .mission__text-block_text {
        font: normal 400 18px/32px 'Roboto', sans-serif;
    }

    /*Our projects*/

    .ourprojects__gallery_top,
    .ourprojects__gallery_bottom {
        display: flex;
        flex-direction: column;
    }

    .ourprojects__gallery_top-first>img,
    .ourprojects__gallery_top-second>img,
    .ourprojects__gallery_photo3>img,
    .ourprojects__gallery_photo4>img,
    .ourprojects__gallery_photo5>img {
        width: 100%;
    }

    .ourprojects__btn-container {
        justify-content: center;
    }

}